.hidden {
    display: none;
}

.centered {
    position: fixed;
    top: 50%;
    left: 50%;
}

#index {
    position: absolute;
    left: 0;
    top: 0;
}

#creategame {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 3;
}